
@{
    ViewData["Title"] = "GetTextBoxValue";
    Layout = "";
}

<h2>GetTextBoxValue</h2>
@using (Html.BeginForm())
{
    <input type="text" name="name" />
    <input type="submit" value="Submit" />
}
